#bolus-btn,#bolus-btn2{
    position: absolute;
              left: 54%;
              top: 31%;
              height: 15%;
              width: 8%;

             
}

#bolus-left-btn{
    position: absolute;
    left: 27%;
    top: 15%;
    width: 5%;

}